<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/add.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,799;1,799&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;1,100&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <%- include('./nav.ejs')  %>
    <% if(results.length <= 0) { %>
        <h1>No tienes ninguna tabla, crea una pulsando <a href="/tablas">aqui</a></h1>
    <% } else { %>
   <div class="container3">
    <div class="container">
        <div class="container2">
            <div class="titulo2">
                <h1 class="titulo">Selecciona una tabla:</h1>
            </div>
            <hr>
            <% results.forEach(item => { %>
                <div class="tablas">
                    <form action ="/add/<%= item.id %>" method="POST">    
                        <h1><%= item.nombre %></h1>
                        <input type="hidden" name="listas" value="<%=id_producto %>">
                        <button class="add-button">
                            Añadir
                            <i class="fa fa-plus"></i>
                        </button>
                    </form>
                </div>
            <% }); %>
        </div>
    </div>
    </div>
    <% } %>
        <%- include('./footer.ejs')  %>
</body>
</html>