<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <%- include('./nav.ejs')  %>
    <% if(results.length <= 0) { %>
        <h1>No tienes ninguna tabla, crea una pulsando <a href="/tablas">aqui</a></h1>
    <% } else { %>
    <% results.forEach(item => { %>
        <div>
            <h1>Selecciona una tabla:</h1>
            <form action ="/add/<%= item.id %>" method="POST">    
                <h1><%= item.nombre %></h1>
                <input type="hidden" name="listas" value="<%=id_producto %>">
                <button>añadir</button>
            </form>
        </div>
        <% }); %>
    <% } %>
        <%- include('./footer.ejs')  %>
</body>
</html>