<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <title>Carrito</title>
</head>
<body>
  <button><a href="/main">Volver a Productos</a></button>
</nav>
<section class="carrito">
  <h1>Carrito de Compras</h1>

  <h2>Listas</h2>
  <div id="cart-lists">
    <% if (listas.length > 0) { %>
      <% listas.forEach(item => { %>
        <div class="cart-item">
          <div>
            <h2><%= item.nombre_lista %></h2>
            <p>Precio Total: $<%= item.precio_total%></p>
          </div>
          <form action="/carrito/remove/<%= item.id %>" method="POST" class="remove-button-form">
            <button type="submit">Eliminar</button>
          </form>
        </div>
      <% }); %>
    <% } else { %>
      <p>No hay listas en el carrito.</p>
    <% } %>
  </div>

  <h2>Productos</h2>
  <div id="cart-products">
    <% if (productos.length > 0) { %>
      <% productos.forEach(item => { %>
        <div class="cart-item">
          <div>
            <h2><%= item.nombre_lista %></h2>
            <p>Precio: $<%= item.precio_total%></p>
          </div>
          <form action="/carrito/remove/<%= item.id %>" method="POST" class="remove-button-form">
            <button type="submit">Eliminar</button>
          </form>
        </div>
      <% }); %>
    <% } else { %>
      <p>No hay productos en el carrito.</p>
    <% } %>
  </div>

  <h2>Total: $<%= total %></h2>

<script>
  document.querySelectorAll('.remove-button-form').forEach(form => {
    form.addEventListener('submit', async (e) => {
      e.preventDefault();
      const response = await fetch(form.action, {
        method: 'POST',
      });

      if (response.ok) {
        Swal.fire({
          title: 'Eliminado!',
          text: 'Producto eliminado del carrito.',
          icon: 'success',
          confirmButtonText: 'OK'
        }).then(() => {
          window.location.reload();
        });
      }
    });
  });
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>