<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/cart.css">
  <link rel="stylesheet" href="/stylesheets/nav.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="/stylesheets/map.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,299;1,299&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
  <title>Carrito</title>
</head>
<body>
  <%- include('./nav.ejs')  %>
  <%- include("./map.ejs")  %>
  

<section class="container2">
  <section class="container">
    <h1>Carrito de Compras</h1>
    <div class="carrito">
      <div class="container-lista">

        <div class="titulo">
          <h2>Weetabs</h2>
          <hr>
        </div>
        
          <% if (listas.length > 0) { %>
            <% listas.forEach(item => { %>
              <div class="cart-item">

                <div>
                  <h2><%= item.nombre_lista %></h2>
                  <p>Precio Total: $<%= item.precio_total%></p>
                </div>
  
                <form action="/carrito/remove/<%= item.id %>" method="POST" class="remove-button-form">
                  <button type="submit">Eliminar <i class="fa-solid fa-trash"></i></button>
                </form>

              </div>
            <% }); %>

        <% } else { %>
          <p class="p">No hay listas en el carrito.</p>
        <% } %>
      </div>
  


      <div class="container-product">

        <div class="titulo2">
          <h2>Productos</h2>
          <hr>
        </div>

          <% if (productos.length > 0) { %>
            <% productos.forEach(item => { %>
              <div class="cart-item">

                <div>
                  <h2><%= item.nombre_lista %></h2>
                  <p>Precio: $<%= item.precio_total%></p>
                </div>
    
                <form action="/carrito/remove/<%= item.id %>" method="POST" class="remove-button-form">
                  <button type="submit">Eliminar <i class="fa-solid fa-trash"></i></button>
                </form>

              </div>
            <% }); %>
          <% } else { %>
            <p class="p">No hay productos en el carrito.</p>
          <% } %>
      </div>
  
    </div>


    <div class="comprar">
      <h2>Total: $<%= total %></h2>
      <% if (total === "0.00") { %>
        <button class="disabled-button" disabled>
          <span>Comprar</span>
        </button>
      <% } else { %>
        <button id="abrir" class="hover-button" onclick="abrirPopup()">
          <span class="button-text">Comprar</span>
          <i class="fa-solid fa-dollar-sign icon"></i>
        </button>
      <% } %>
    </div>
  </section>
</section>


  <%- include('./footer.ejs')  %>


<!-------------------MENSAJES SWEET ALERT  ------------------------>

<script src="/javascripts/popupMap.js"></script>


<!-----MENSAJE PARA ELIMINAR -------->
<script>
  document.querySelectorAll('.remove-button-form').forEach(form => {
    form.addEventListener('submit', async (e) => {
      e.preventDefault();
      const response = await fetch(form.action, {
        method: 'POST',
      });

      if (response.ok) {
        Swal.fire({
          title: 'Eliminado!',
          text: 'Producto eliminado del carrito.',
          icon: 'success',
          confirmButtonText: 'OK'
        }).then(() => {
          window.location.reload();
        });
      }
    });
  });
</script>



</body>
</html>