<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/editar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,299;1,299&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=REM:ital,wght@0,176;1,176&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
<%- include('./nav.ejs')  %>
<section class="container2">
    <div class="container">
        <form class="form1" action="/editar/<%= tabla.id %>" method="POST">
            <div class="titulo">
                <h1>Nuevo nombre de la tabla:</h1>
                <input type="text" class="input-text" name="nombre" placeholder="nuevo nombre..." autofocus value="<%= tabla.nombre %>">
                <button id="button" class="btn btn-success btn-block"><i class="fa-sharp fa-solid fa-check"></i></button>
            </div>
        </form>
        <% if(productos.length <= 0) { %>
            <div class="cont-no-item">
                <h1 class="no-item">No tienes ningun producto añadido</h1>
                <hr>
            </div>
        <% } else { %>
                <div class="productos">
                        <% productos.forEach(item => { %>
                            <div class="producto">
                                <form class="form2" action="/editar/<%= item.id %>" method="post">
                                    <h2>
                                        - <%= item.nombre %>: <%= item.precio  %>$
                                    </h2>
                                    
                                    <button id="abrir" class="hover-button">
                                        <input type="hidden" name="listas" value="<%= item.id %>">
                                        <span class="button-text">Eliminar producto</span>
                                        <i class="fa-sharp fa-solid fa-trash icon"></i>
                                    </button>
                                </form>
                            </div>
                        <% }); %>
                </div>
            <% } %>
            <div class="div-boton-volver">
                <button class="back-button">
                    <i class="fa-solid fa-arrow-left"></i>
                    <a href="/tablas">Volver atras</a>
                </button>
            </div>
        </div>
</section>

<%- include('./footer.ejs')  %>
</body>
</html>

