<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/editar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>Document</title>
</head>
<body>
<%- include('./nav.ejs')  %>
<section class="container2">
    <div class="container">
        <form class="form1" action="/editar/<%= tabla.id %>" method="POST">
            <div class="titulo">
                <h1>Nuevo nombre de la tabla:</h1>
                <input type="text" class="input-text" name="nombre" placeholder="nuevo nombre..." autofocus value="<%= tabla.nombre %>">
                <button id="button" class="btn btn-success btn-block"><i class="fa-sharp fa-solid fa-check"></i></button>
            </div>
        </form>
        <% if(productos.length <= 0) { %>
            <h1>No tienes ningun producto añadido</h1>
        <% } else { %>
                <div class="productos">
                        <% productos.forEach(item => { %>
                            <div class="producto">
                                <form class="form2" action="/editar/<%= item.id %>" method="post">
                                    <h2>
                                        - <%= item.nombre %> : <%= item.precio  %>$
                                    </h2>
                                    
                                    <button id="abrir" class="hover-button">
                                        <input type="hidden" name="listas" value="<%= item.id %>">
                                        <span class="button-text">Eliminar producto</span>
                                        <i class="fa-sharp fa-solid fa-trash icon"></i>
                                    </button>
                                </form>
                            </div>
                        <% }); %>
                    <a href="/tablas">Volver</a>
                </div>
            <% } %>
        </div>
</section>

<%- include('./footer.ejs')  %>
</body>
</html>

