<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/main.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,299;1,299&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=REM:ital,wght@0,176;1,176&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body>
<%- include('./nav.ejs')  %>

<div id="overlay"></div>



<!--------------------- SECCION DE FILTROS --------------------------->
<div class="filtros">
  <h1>Filtrar <i class="fa-solid fa-filter" id="filter-icon"></i></h1>
  <form id="filter-form" action="/main" method="GET">
      <button class="reinicio" type="submit" name="category" value="all">Reiniciar filtro</button>
      <hr class="primero">
      <button type="submit" name="category" value="mecheros">Mecheros</button>
      <hr>
      <button type="submit" name="category" value="grinders">Grinders</button>
      <hr>
      <button type="submit" name="category" value="papel">Papeles</button>
      <hr>
      <button type="submit" name="category" value="producto">Productos</button>
      <hr>
      <button type="submit" name="category" value="hierba">Hierbas</button>
      <hr>
      <button type="submit" name="category" value="otro">Otros</button>
      <hr>
      <button type="submit" name="category" value="papel">Papeles</button>
      <hr>
      <button type="submit" name="category" value="boquilla">Boquillas</button>
  </form>
  <hr class="final">
</div>



    <section class="productos">
    <% products.forEach(item => { %>
            <div class="producto">

                <div class="hover-image" data-bg="<%= item.imagen %>"></div>
                <h1><%= item.nombre %></h1>
                <h2><%= item.descrip %></h2>
                <h3><%= item.precio  %>$</h3>

                <div class="div-botones">
                    <button><a href="/add/<%= item.id  %>">Añadir a lista</a></button>
                    <button class="add-to-cart" data-id="<%= item.id %>">Añadir al carrito</button>
                </div>
            </div>
        <% }); %>
     </section>
  </div>

  <%- include('./footer.ejs')  %>

  <!--------------------- CONFIGURACIÓN MENSAJE SWEETALERT PARA CUANDO SE AÑADA AL CARRITO --------------------------->

  <script>
    document.querySelectorAll('.add-to-cart').forEach(button => {
      button.addEventListener('click', async (e) => {
        e.preventDefault();
        const productId = e.target.getAttribute('data-id');
        const response = await fetch(`/carrito/add/${productId}`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          }
        });
        if (response.ok) {
          Swal.fire({
            title: 'Añadido!',
            text: 'Producto añadido al carrito.',
            icon: 'success',
            confirmButtonText: 'OK'
          })
        }
      });
    });



// ----------------CONFIGURACION PARA EL BACKGROUND IMAGE DE LOS PRODUCTOS----------------------


    document.addEventListener('DOMContentLoaded', function() {
    var hoverDivs = document.querySelectorAll('.hover-image');

    hoverDivs.forEach(function(div) {
        var bgUrl = div.getAttribute('data-bg');
        div.style.setProperty('--bg-image', `url(${bgUrl})`);
        div.addEventListener('mouseenter', function() {
            this.style.setProperty('--bg-opacity', '0.8');
    });
    div.addEventListener('mouseleave', function() {
      this.style.setProperty('--bg-opacity', '0');
    });
  });
});

//----------------CONFIGURACION PARA EL OVERLAY Y EL DESPEGABLE DE LOS FILTROS----------------------

const overlay = document.getElementById('overlay');
document.getElementById('filter-icon').addEventListener('click', function() {
    const filterForm = document.getElementById('filter-form');
    if (filterForm.classList.contains('visible')) {
        filterForm.classList.remove('visible');
        overlay.style.display = 'none'
    } else {
        filterForm.classList.add('visible');
        overlay.style.display = 'block'
        
    }
});  
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
</html>