<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/main.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway&display=swap" rel="stylesheet">    
    <title>Document</title>
</head>
<body>
<%- include('./nav.ejs')  %>
    <section class="productos">
    <% producto.forEach(item => { %>
            <div class="producto">
                <div class="hover-image" data-bg="<%= item.imagen %>"></div>
                <h1><%= item.nombre %></h1>
                <h2><%= item.descrip %></h2>
                <h3><%= item.precio  %>$</h3>
                <div class="div-botones">
                    <button><a href="/add/<%= item.id  %>">A単adir a lista</a></button>
                    <button class="add-to-cart" data-id="<%= item.id %>">A単adir al carrito</button>
                </div>
            </div>
        <% }); %>
     </section>

  <script>
    document.querySelectorAll('.add-to-cart').forEach(button => {
      button.addEventListener('click', async (e) => {
        e.preventDefault();
        const productId = e.target.getAttribute('data-id');
        const response = await fetch(`/carrito/add/${productId}`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          }
        });
        if (response.ok) {
          Swal.fire({
            title: 'A単adido!',
            text: 'Producto a単adido al carrito.',
            icon: 'success',
            confirmButtonText: 'OK'
          })
        }
      });
    });
  </script>





<%- include('./footer.ejs')  %>




<script>
    document.addEventListener('DOMContentLoaded', function() {
    var hoverDivs = document.querySelectorAll('.hover-image');

    hoverDivs.forEach(function(div) {
        var bgUrl = div.getAttribute('data-bg');
        div.style.setProperty('--bg-image', `url(${bgUrl})`);
        div.addEventListener('mouseenter', function() {
            this.style.setProperty('--bg-opacity', '0.8');
    });
    div.addEventListener('mouseleave', function() {
      this.style.setProperty('--bg-opacity', '0');
    });
  });
});
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
</html>