<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/main.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">    
    <title>Document</title>
</head>
<body>
<%- include('./nav.ejs')  %>
    <section class="productos">
    <% producto.forEach(item => { %>
        <div class="container">
            <div class="producto">
                <img id="img" src=<%= item.imagen%>>
                <h1><%= item.nombre %></h1>
                <h2><%= item.descrip %></h2>
                <button><a href="/add/<%= item.id  %>">Añadir a lista</a></button>
                <button><a href="">Añadir al carrito</a></button>
            </div>
        </div>
    <% }); %>
    </section>
</body>
</html>